{% extends 'base.html.twig' %}

{% block title %}Hello StatController!
{% endblock %}

{% block body %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Nom partenaire</th>
				<th>Nombre de contrats</th>
				<th>Chiffre d'affaires</th>
			</tr>
		</thead>
		<tbody>
			{% for result in partenaires %}
				<tr>
					<td>{{ result.partenaire.nom }}</td>

					{# Accès à la propriété nom via l'objet partenaire #}
					<td>{{ result.contratCount }}</td>
					<td>{{ result.totalFrais|default(0)|number_format(2, ',', ' ') }}
						€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
