{% extends 'base.html.twig' %}

{% block title %}Hello StatController!
{% endblock %}

{% block body %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>User</th>
				{% for partenaire in allPartenaires %}
					<th colspan="2">{{ partenaire.nom }}</th>
				{% endfor %}
			</tr>
			<tr>
				<th></th>
				{% for partenaire in allPartenaires %}
					<th>Nombre</th>
					<th>Cotisation</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for userData in usersData %}
				<tr>
					<td>{{ userData.user.username }}</td>
					{% for partenaire in allPartenaires %}
						{% set stats = userData.stats[partenaire.nom] %}
						<td>{{ stats.count }}</td>
						<td>{{ stats.cotisation|number_format(2, ',', ' ') }}
							€</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
