{% extends 'base.html.twig' %}

{% block title %}Hello StatController!
{% endblock %}

{% block body %}
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>user</th>
				<th>Nom partenaire</th>
				<th>Nombre de contrats</th>
				<th>Chiffre d'affaires</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.username }}</td>

					<td>{{ user.contrats|length }}</td>
					<td>{{ user.contrat.cotisation|default(0)|number_format(2, ',', ' ') }}
						€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
