{% extends 'base.html.twig' %}

{% block title %}Edit Document
{% endblock %}

{% block body %}
	<h1>Edit Document</h1>

	{{ include('document/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('client_index') }}">back to client</a>
	{% if is_granted('ROLE_DEV') %}
		{{ include('document/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
