{% extends 'base.html.twig' %}

{% block title %}Edit User
{% endblock %}
{% block stylesheets %}
	{{ parent()}}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css"/>


{% endblock %}
{% block body %}
	<h1>Edit User</h1>

	{{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
