<form method="post" action="{{ path('app_unite_travail_delete', {'id': unite_travail.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unite_travail.id) }}">
    <button class="btn">Delete</button>
</form>
